@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.logo {
  background: url(../../assets/images/argus.png);
  height: 50px;
  width: 50px;
  background-size: cover;
}

.accordion__section {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
}

.accordion {
  background-color: white;
  /* color: #444; */
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: 0.6s ease;
}

/* .border {
  border-bottom: 2px solid grey;
} */

.accordion,
.active {
  background-color: white;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 50%;
  padding: 15px;
  transform: rotate(90deg);
}

.rotate {
  transform: rotate(-90deg);
}

.accordion__content {
  background-color: white;
  overflow: auto;
  transition: max-height 0.6s ease;
  line-height: 20px;
}

.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 18px;
  color: grey;
}
